<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>

    <head>
        <link rel="stylesheet" type="text/css" href="/static/content/css1.css" />
        
    </head>

</head>
<body>
    <div class="dashboard">
        <p>Number of moves: {{ num_moves }}</p>
        <p>Number of banish moves: {{ num_banish_moves }}</p>
        <p>Number of luck card moves: {{ num_luck_card_moves }}</p>
    </div>
    <a href="report.html">Generate report</a>
</body>
</html>